<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hata</title>
    <link rel="stylesheet" href="..//Home/main.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="..//Home/fontawesome-free-5.9.0-web/css/fontawesome.min.css">
</head>
<body>
     
      
    
    <div class="container">
        <div class="parent right">
            <div class="child bg-1">
                <div class="but b1"><a href="#">фото</a></div>
            </div>
        </div>



        <div class="parent">
            <div class="child bg-2">
                <div class="but b2"><a href="#">відео</a></div>
            </div>
        </div>

        <div class="parent right">
            <div class="child bg-3">
                <div class="but b3"><a href="#">музика</a></div>
            </div>
        </div>

        <div class="parent">
            <div class="child bg-4">
                <div class="but b4"><a href="#">архів</a></div>
            </div>
        </div>

        <div class="parent">
            <div class="child bg-4">
               
            </div>
        </div>

    </div>

</body>
</html>





