body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    /*background: url(/Content/img/bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;*/
   
}
.blocksize {
    max-width: 100%;
    display: block;
    height: auto;
    max-height: 300px;
    max-width: 320px;
}
.overflowhidden {
 overflow-y: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
